<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="./stylesheets/style.css" />
  </head>
  <nav>
    <ul>
      <li><a class="active"><%= __("Home") %></a></li>
      <li><a href="#products"><%= __("Products") %></a></li>
      <li class="language"> <% getLocales().forEach(locale => { %>
        <a href="/change-locale/<%= locale %>"><%= locale %></a>
    <% }) %></li>
        
    </ul>
  </nav>
  <body></body>
</html>
